[submodule "src/RROS"]
	path = src/RROS
	url = https://github.com/BUPT-OS/RROS.git
[submodule "src/spatial_intelligence"]
	path = src/spatial_intelligence
	url = https://github.com/kuibu/spatial_intelligence.git
[submodule "src/embodied-intelligence"]
	path = src/embodied-intelligence
	url = https://github.com/kuibu/embodied-intelligence.git
